<html>

<body>

Template for modCompetitions. Not used right now.

###COMMUNICATOR###

<!-- Dieser Teil wird in allen Sub-Modulen integriert -->
###COMMON_START###
###COMMON_START###


###COMMON_END###
<div>Parsetime: ###MOD_PARSETIME###ms Memory used: ###MOD_MEMUSED### Bytes</div>
###COMMON_END###

###TWITTER###


###SEND_FORM###
<p>
###LABEL_ACCOUNT###:<br/>
###ACCOUNT_SEL### ###ACCOUNT_EDITLINK###
</p>
###LABEL_MESSAGE###<br/>
###INPUT_MESSAGE###<br />
###LABEL_LINK###<br />###INPUT_LINK###<br />
###BTN_SEND###
###SEND_FORM###

###TWITTER###



###PUSHD###


###SEND_FORM###
<p>
###LABEL_ACCOUNT###:<br/>
###ACCOUNT_SEL### ###ACCOUNT_EDITLINK###<br />
###LABEL_EVENT###:</br>
###EVENT_SEL###
</p>
<p>
###LABEL_TITLE###<br/>
###INPUT_TITLE###<br />
###LABEL_MESSAGE###<br />
###INPUT_MESSAGE###<br />
</p>
###BTN_SEND###
###SEND_FORM###

###PUSHD###

###COMMUNICATOR###




</body>
</html>